:root {
    --white: white;
    --blue: rgb(67, 140, 223);
    --black: rgb(0, 0, 0);
    --yellow: #f1b717;
    --grey: rgb(63, 63, 63);
    --orange: #ff8800;
}

* {
    font-family: sans-serif;
    padding: 0;
    margin: 0;
}

body {
    background-image: url('assets/pic.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    padding: 5px 100px;
}

.navbar {
    display: grid;
    grid-template-rows: auto auto auto;
    grid-template-columns: 80px auto 80px;
    gap: 10px;
    height: 70px;
    border-radius: 15px;
    gap: 10px;
    background-color: white;
    padding: 3px 20px;
    margin-top: 50px;
}

.navbar>div {
    height: 70px;
}

.navbar>.navbar_logo {
    background-color: white;
    background-image: url('assets/sbu-logo.png');
    background-repeat: no-repeat;
    width: 70px;
    height: 70px;
    background-size: 70px;
}

.flex-container {
    display: flex;
    height: 70px;
    width: 100;
    border-radius: 15px;
    align-items: center;
    justify-content: center;
    flex-direction: center;
    align-items: center;
}

.flex-container>div {
    margin: 5px;
    text-align: center;
    line-height: 75px;
    font-size: 30px;
}

.flex-container a,
.drop-down a {
    color: black;
    text-align: center;
    padding: 10px 12px;
    text-decoration: none;
    font-size: 17px;
}

.flex-container a:hover,
.drop-down a:hover {
    opacity: 0.5;
    cursor: pointer;
}

a.active {
    background-color: black;
    color: white;
    border-radius: 5px;
}

a.underline {
    border-bottom: 3px solid yellow;
}

.item1 {
    grid-row-start: 1;
    grid-row-end: 3;
}

.navbar>.navbar_menu {
    position: relative;
    display: none;
}

.menu-icon {
    height: 30px;
    width: 35px;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.menu-icon:active {
    background-color: blue;
}

.menu-icon>div {
    width: 35px;
    height: 5px;
    background-color: #f1b717;
    margin: 6px auto;
}

.main-body,
.drop-down {
    display: flex;
    flex-wrap: wrap;
    border-radius: 15px;
    align-items: center;
    justify-content: center;
    flex-direction: center;
    align-items: center;
    margin-top: 10px;
}

.main-body>div {
    width: 420px;
    height: 420px;
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(7px);
    margin: 20px 20px;
    border-radius: 20px;
    padding: 0px 20px;
}

.drop-down {
    display: none;
}

.drop-down>div {
    width: 420px;
    height: 250px;
    background-color: white;
    margin: 20px 20px;
    border-radius: 20px;
    padding: 0px 20px;
}

.drop-down>div>div {
    height: 50px;
    line-height: 50px;
    text-align: center;
    text-align: center;
    padding: 0px 20px;
    grid-template-rows: auto;
    grid-template-columns: 100px;
    gap: 10px;
    align-items: center;
    flex-direction: center;
    margin: 10px 80px;
}

.left-card>h2 {
    margin-top: 50px;
}

.left-card>div {
    display: grid;
    grid-template-rows: auto auto;
    grid-template-columns: 100px auto;
    gap: 10px;
    align-items: center;
    flex-direction: center;
    margin: 20px 0px;
    font-weight: bold;
}

.left-card>div:hover {
    transform: scale(1.05);
    -webkit-transition: transform 0.5s ease-out;
}

.left-card>div>.logo {
    background-color: white;
    filter: invert(1);
    background-repeat: no-repeat;
    width: 50px;
    height: 50px;
    background-size: 30px;
    background-position: 50% 50%;
    border-radius: 100px;
}

.right-card>.logo {
    background-repeat: no-repeat;
    width: 60px;
    height: 60px;
    background-size: 45px;
    background-position: 50% 50%;
    margin-left: auto;
    margin-right: 0;
    margin-top: 10px;
}

#form>div {
    background-color: rgb(255, 255, 255, 0);
}

#form>div>input,
textarea {
    border-radius: 20px;
    border: solid black;
    background-color: rgb(255, 255, 255, 0);
    padding: 12px 10px;
    margin: 5px 0px;
    outline: none;
    width: 200px;
    transition: width 1s;
}

#form {
    margin: 0px 30px;
}

#form>div>textarea {
    height: 130px;
}

#form>div>input::placeholder,
textarea::placeholder {
    color: black;
    opacity: 1;
    font-size: 15px;
    font-weight: bold;
}

#form>div>input:focus,
textarea:focus {
    width: calc(90%);
}

#submit-btton {
    width: 110px;
    height: 42px;
    background-color: #f1b717;
    font-size: 15px;
    font-weight: 600;
    border-radius: 40px;
    border: none;
    transition: background-color 0.5s;
    padding: 12px 10px;
    margin-left: 30px;
}

#submit-btton:hover {
    background-color: #4373ae;
}

@media screen and (max-width: 800px) {
    .navbar>.navbar_menu {
        display: inline;
    }
    .navbar>.flex-container>div {
        display: none;
    }
}